extends default.pug

append content
    p
        | Hey! I am an example message #[br]
        | If you are reading this, everything worked out very well and we are now ready to send e-mails.
    p
        | #[br]
        | - This e-mail is just one example of service.
