extends default.pug

append content
    p
        | Hello #{variables.username}, how are you? #[br]
        | Welcome to Niro Health, your preferred DevOps environment. #[br] #[br]
        | You must first activate your account to release your access: #[br]
        | #[a(href=`${variables.url}`) Login to your account]
    if(variables.temporarypass && variables.temporarypass.length > 0)
        p
            | Temporary Password: #{variables.temporarypass} #[br]
            | #[li We recommend that you change your password as soon as you log into your account]
    p
        | #[br]
        | This link is valid for 7 days. After this period you must request another activation email via our support email: #[b luizgp120@hotmail.com] #[br]
        | - If you have not made such a request, please ignore this email.
